.calcBody{
  margin: auto;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.button,
.result{
  padding: 10px;
  margin: auto;
}

/* This is for the container class named "button" that holds all the button elements */
.button{
  background-color: white;
  margin-bottom: 20px;
}

/* This is CSS for the HTML element button */
button{
  background-color: plum;
  height: 40px;
  width: 40px;
}

.result{
  font-size: 30px;
  border: 3px dashed white;
  margin: 10px auto 10px auto;
  min-width: 150px;
  min-height: 40px;
}

.result p{
  color: white;
  margin: 0;
}